.header-text {
  &-wrapper {
    margin-top: 10px;
  }

  &-item {
    margin: 20px auto 0;
    font-size: 24px;
    color: #ffffff;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    width: max-content;
  }

}