.our-best {
  background-image: url("../../../assets/img/our-best/bg.jpg");
  padding-top: 80px;
  min-height: 495px;
}

.cards-wrapper {
  display: flex;
  width: 800px;
  justify-content: space-between;
  margin: 40px auto 0;
}