.card {
  width: 220px;
  min-height: 240px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 21px;
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.25));
  cursor: pointer;

  &-image {
    width: 150px;
    height: 130px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }

  &-name {
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin-top: 14px;
    text-align: right;
    white-space: pre-line;
  }

  &-price {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #000000;
    margin-top: 10px;
  }
}